MONGO_URI=
JWT_SECRET=
CLIENT_URL=
PORT=5000
NODE_ENV=production
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

INTERNAL_CURRENCY=EUR
EXCHANGE_RATE_API_KEY=500acc452fd951beafb2bff9

# --- BUSINESS & VAT INFO (For Invoices) ---
BUSINESS_NAME="World Culture Marketplace"
BUSINESS_ADDRESS="123 Culture Street, Berlin, Germany"
BUSINESS_VAT_NUMBER="DE123456789"
DEFAULT_VAT_RATE=19

# --- REDIRECT URLS ---
STRIPE_SUCCESS_URL=http://localhost:3000/dashboard/payment-success
STRIPE_CANCEL_URL=http://localhost:3000/dashboard/payment-failed